{% extends "pages/dashboard/_index.html" %}
{% block title %} - Dashboard Surat {% endblock %}

{% block content %}

    <div class="container-fluid p-3 bg-body rounded shadow">
        <h1 class="border-bottom pb-2">Daftar Surat</h1>
        <div class="table-responsive">
            <table class="table table-sm table-borderless">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Pengirim</th>
                    <th scope="col">Catatan</th>
                    <th scope="col">Status</th>
                    <th scope="col">Dikirim</th>
                    <th scope="col">Aksi</th>
                </tr>
                </thead>
                <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>
                            {{ data.notes }}
                        </td>
                        <td>
                            {% if data.is_done %}
                                <span class="badge text-bg-success">Selesai</span>
                            {% else %}
                                <span class="badge text-bg-secondary">Menunggu di proses</span>
                            {% endif %}
                        </td>

                        <td>
                            {{ data.created_at.strftime("%A, %d %B %Y, Jam %H:%M:%S") }}
                        </td>
                        <td>
                            <a class="btn btn-primary"
                               href="{{ url_for('letters.letter_show', letter_id=data.id) }}"
                               role="button">
                                Lihat
                            </a>
                            <a class="btn btn-danger"
                               href="{{ url_for('letters.letter_delete', letter_id=data.id) }}"
                               role="button">
                                Hapus
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center h2x  ">
                        <td colspan="5">Belum ada surat yang masuk!</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
